h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

header {
  padding: 156px 0 0 0;
}

#mainNav {
  background: #fff;
}

.navbar a,
.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar a.active,
.navbar a:hover {
  color: #000;
  text-decoration: underline;
}

.navbar-toggler {
  border: 1px solid #000 !important;
  /*color: rgba(0, 0, 0, 0.5) !important;*/
}

hr.section-separator {
  max-width: 200px;
  margin: 60px auto;
  border-top: 1px solid #000;
}

.bottom-line {
  border-bottom: 1px solid #000;
}

section {
  padding: 30px 0;
}

.thumbnail {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
}

.thumbnail a > img,
.thumbnail > img {
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 100%;
  height: auto;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 4px;
  transition: border 0.2s ease-in-out;
}

.thumbnail a:hover img {
  /*border-color: rgb(20, 20, 20);*/
  border-color: #7f7f7f;
}

footer {
  margin-top: 40px;
}

.footer-bg-dark {
  background: #000;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

footer a:hover {
  color: #ccc;
  text-decoration: none;
}
